//Panel widget cards
.widget.panel-default {

  transition: all 400ms ease;
  border-radius: initial;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), 5px 5px 7px rgba(0, 0, 0, 0.02);

  &:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 7px rgba(0, 0, 0, 0.07);
  }

  // Heading
  & > .panel-heading {
    border-radius: initial;
    padding: 22px 30px;
    background-color: @color-brand-green;

    .panel-title {
      .font-size-xl;
      font-weight: 400;
      color: white;
    }
  }

  // Body
  & > .panel-body {
    border-radius: initial;
  }

}

// Variation => Secundary
.widget--secundary .widget.panel-default {

  & > .panel-heading {
    .bg-color-white;

    .panel-title {
      .font-color-white-darken-10;
    }

  }

}

.score-number {
  .flex-wrapper;
  .flex-wrapper--justify-center;
  .flex-wrapper--align-center;
  .padding-full-plus;
  .bg-color-white;
  color: @color-brand-green;
  font-weight: bold;
  height: 140px;
  width: 140px;
  //position: absolute;
  z-index: 1;
  //left: 50%;
  top: 0;
  //transform: translateX(-50%) translateY(-50%);
  border: 15px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 30px;

}
